<%- include('./partials/header.ejs')%>
<div class="content">
    <main>
        <br>
        <p> Attend and create BL2 events and to connect with fellow people.</p>
        <p>If you are looking for people who are interested in BL2 you have come to the right place</p>
        <br>
        <p>Check out Connections to look at available connections.</p>
    </main>
</div>
<%- include('./partials/footer.ejs')%>