header{
    height: 150px;
    background-color:black;
    width:100%;
    color:bisque;
}
img{
    height:60px;
    width: 60px;
    padding-left:3%;
    padding-top:10px;
}
h1{
    display:inline-block;
    padding-right:75px;
}
button{
    display:inline-block;
    background-color:black;
    color:beige;
    margin-left:30px;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;

}
.SUBMIT{
    margin-left:47%;
    background-color:black;
    color:White;
}
nav{
    float:right;
    padding-top:25px;
    padding-right:10%;
}
.con{
    margin-left:200px;
    display:inline-block;
    vertical-align:top;
}
.conTxt{

    display:inline-block;
}
.Bimg{
    height:150px;
    width:150px;
}
a{
    color:blue;
    padding-right:10px;
    padding-left: 10px;
    text-decoration: none;
}
a:hover{
    color:White;
}
hr{
    width:94%;
    margin-left:auto;
    margin-right:auto;
}
.ConLink{
    padding-left:3%;
}
h1{
    margin-left:100px;
}
footer {
    background-color: #990000;
    color: #FFFFFF;
    clear: both;
    bottom:0;
    text-align: left;
    vertical-align: middle;
    height: 50px;
    width:100%;
}
h2{
    text-align: right;
    padding-right: 5%;
}
p{
    padding-left:  10%;
    padding-right: 10%;
}