<%- include('../partials/header.ejs')%>
    <div class = "content">
        <%if(stories.length) {%>
            <p>Select an Event to look at</p>
            <%stories.forEach(story=>{%>
               <a href = "/stories/<%= story.id%>"> <p><%= story.title%></p></a>
           <% });
        } else {%>
            <p>There are no Events currently</p>
        <%}%>
    </div>
    <%- include('../partials/footer.ejs')%>